/* Bases CSS */
body {
    background-color: #121010;
    color: #fff;
    font: 12px Verdana, Geneva, sans-serif;
    text-align: center;
}

header {
    background-color: #404040;
    margin-bottom: 20px;
    padding: 10px;
}

/* Conteneur des boutons */
.zone-boutons {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1em 0 1.3em;
    width: 800px;
}

/* ------------------------------------------------------ */
/* Boutons */
.zone-boutons div {
    background-color: #404040;
    box-shadow: 0.8em 0.9em 1.5em 0.8em rgba(4, 25, 33, 0.45);
    cursor: pointer;
    padding: 6px;
    width: 150px;
}

/* Images des boutons */
.zone-boutons img {
    margin: 12px;
}

/* Libellés des boutons */
div > h3 {
    background-color: #1b9cf4;
    border-radius: 0.5em;
    height: 30px;
    margin: 0;
    padding-top: 10px;
}

/* Survol des boutons */
.zone-boutons div:hover {
    background-color: #c42702;
}


/* ------------------------------------------------------ */
/* Section medias-texte */

#medias-texte {
    font-size: 1.7em;
    height: 2.6em;
    line-height: 50px;
    margin: 15px auto;
    text-shadow: 4px 4px 10px #000;
    width: 800px;
}

/* Couleur de départ de la section medias-texte */
.couleur-info {
    background-color: #1b9cf4;
}

/* films */
.bleu-films {
    background-color: #273893;
}

/* musiques */
.gris-musiques {
    background-color: #3b3b3b;
}

/* jeux */
.rose-jeux {
    background-color: #c837ce;
}

/* livres */
.jaune-livres {
    background-color: #d9bd24;
}

/* ------------------------------------------------------ */
/* Section medias-image */

#medias-image {
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Image de départ de la section medias-image */
.img-choisir {
  background-image: url("images/planete-violacee.jpg");
}

.img-films {
  background: url("images/salle-cinema.jpg");
}

.img-musiques {
  background: url("images/console-mixage.jpg");
}

.img-jeux {
  background: url("images/salle-jeux.jpg");
}

.img-livres {
  background: url("images/rangee-livres.jpg");
}
