body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

h1, h2 {
    text-align: center;
}

header {
    text-align: center;
}

.active {
    background-color: lightgray;
    color: aqua;
}

.button-all-sounds {
    margin: 30px auto;
}

.crud-zh-center {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.crud-zh-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.crud-zh-grid button {
    margin: 0 50px 0;
}

@media screen and (max-width: 800px) {
    body
    {
        font-size: 1em;         
    }
    /*PLUS DE COLONNES GRID ICI, QUE DU FLEX*/
    figure {
        padding: 10px;
    }
}